<style>
@media only screen and (max-width: 360px), (max-width: 420px) {
  *{
    overflow: inherit;
  }
}
</style>
<body class="two-col" id="home-page" data-hook="body" style="">

    <div class="container">
      <div class="row" data-hook="">


        <!-- <aside id="sidebar" class="col-sm-4 col-md-3" data-hook="">
    <!-- <div data-hook="homepage_sidebar_navigation"> -->





  <!-- </div> -->

</aside>

<% if simple_current_order.item_count > 0 %>
  <div id="content" class="col-sm-8 col-md-9" data-hook="">
<% else %>
  <div id="content" class="col-sm-10 col-md-18" data-hook="">
<% end %>
  <div id="home-web" data-hook="homepage_products">
    <!-- Insert Categories here -->

    <% if current_spree_user && current_spree_user.admin? %>
      <%= render :partial => "render_me/admin/categories" %>
    <% else %>

  <div class="home-web">
    <h1 id="h1_categ">Categories</h1>
    <% @all_active_cat = Category.where(:active => true).sort_by &:sort_order%>
    <% @all_notactive_cat = Category.where(:active => false).sort_by &:sort_order %>

    <% @all_active_cat.each do |all_active_cat| %>
      <div id="productHover" class="col-md-3 col-sm-4 col-xs-4 product-list-item categories_3div" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
        <div class="panel panel-default" id="panel-default-id">
          <div id="image_container" class="panel-body text-center product-body">
            <%= link_to (image_tag all_active_cat.image_category.url(:thumb), :class => ".home_image_mobile_3rd"), all_active_cat %>
            <br>
          </div>
          <div class="panel-footer text-center">
            <span id="web_categ_name" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
              <%= link_to truncate(all_active_cat.name, length: 47), all_active_cat, :class => 'linkhover' %>
            </span>
          </div>
        </div>
          <div class="CategDiv1" grandparent-property="float">
            <% Subcategory.where(:category_id => all_active_cat.id).each do |j| %>
              <div><%= link_to j.name, j , class:'hovers'%></div>
            <% end %>
          </div>
      </div>
    <% end %>



  </div>


  <% end %>

  </div>


</div>
<% if simple_current_order.item_count < 1 %>
<% else %>
<div class="sideCart">
  <%= render :partial => "render_me/side_cart" %>
</div>
<% end %>
</div>
</div>
</body>
