<style>

  .line-item-description {
    font-style: italic;
  }

  div#icons-input{
    display:flex;
  }

  #product-mul-prize {
    vertical-align: middle;
  }

  span.glyphicon.glyphicon-trash {
    color: #B2BABB;
  }

  td.cart-item-image {
    width: 5%;
  }

  td.cart-item-description {
    width:80%;
  }

  .input-group {
    margin-left: 60%;
  }

  div.product_label {
    font-size: 18px;
  }

  .line_item_price {
    display: none;
  }

  input.form-control.line_item_quantity {
    text-align: center;
  }

  .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group
  {
    height: 34px;
  }

  .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
  {
    height: 34px;
  }

  /* tr.line-item-mobile {
    display: none;
  } */

  @media only screen and (max-width: 360px)
    {
    .btn {
      padding: 6px 1px;
      height: 27px !important;
      width: 27px;
      }

    .form-control.line_item_quantity {
      height: 27px;
      width: 50px;
     }

     tr.line-item-web {
       display: none;
     }

     tr.line-item-mobile {
       display: block !important;
       width: 100%;
     }

     td.cart-item-image {
       width:40%;
       text-align: center;
     }

     td.cart-item-description {
       width:60%;
     }

     div.product_label {
       font-size: 14px;
       font-weight:600;
     }

     #product-mul-prize{
       display: none;
     }

     div.input-group {
       margin-left: 30% !important;
       /* z-index: -1; */
       /* width: 100px; */
     }

     #line_item_price_web {
       display: none;
     }

     .line_item_price {
       display: block;
     }

     span.line_item_price {
       font-size: 18px;
       color: #E67E22;
       font-weight:normal;
     }

     .cart-pic-size {
       height: 80px;
       /* width: 100px; */
     }
    }

</style>

<% variant = line_item.variant %>

<tr class="line-item-mobile">
  <%= order_form.fields_for :line_items, line_item do |item_form_mobile| %>
  <td class="cart-item-image" data-hook="cart_item_image">
      <%= link_to image_tag(variant.images.first.attachment.url(:product_show), :class => "cart-pic-size"), variant.product %>
  </td>
  <td class="cart-item-description" data-hook="cart_item_description">
  <div class="product_label">
    <%= link_to line_item.name, product_path(variant.product) %>
  </div>

    <% if line_item.insufficient_stock? %>
      <span class="out-of-stock">
        <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;
      </span>
    <% end %>
    <div class="line-item-description" data-hook="line_item_description">
      <%= line_item_description_text(line_item.description) %>
    </div><br>

  <span class="line_item_price">
    <%= line_item.single_money.to_html %>
  </span>

  <span class="lead text-primary cart-item-price" data-hook="cart_item_price" id="line_item_price_web">
    <%= line_item.single_money.to_html %>
  </span>
    <!-- <div id="icons-input"> -->
    <button type="button" class="btn btn-link" onclick="removeFunction1(this)" data-type="plus" data-field="quant[2]" id="<%=line_item.variant.id%>">
      <span class="glyphicon glyphicon-trash"></span>
    </button>

    <div class="input-group">

    <span class="input-group-btn">
      <button type="button" class="btn btn-danger btn-number" onclick="minusFunction1(this)"  data-type="minus" data-field="quant[2]" id="<%=line_item.id%>">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </span>

    <%= item_form_mobile.text_field :quantity, class: "form-control line_item_quantity", size:5, id: "line_item_quantity1" + line_item.id.to_s %>

    <span class="input-group-btn">
      <button type="button" class="btn btn-success btn-number" onclick="plusFunction1(this)" data-type="plus" data-field="quant[2]" id="<%=line_item.id + 1%>">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </span>
    </div>
  </td>

  <td class="lead text-primary cart-item-total" data-hook="cart_item_total" id="product-mul-prize">
    <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
  </td>


</tr>
<% end %>


<script>

  function removeFunction(item) {
    console.log(item)
    var divName = $(item).attr("id");
    var quan = $("#line_item_quantity"+divName).val();
      $('#line_item_quantity'+divName).val(0)
        document.getElementsByClassName("btn btn-primary")[0].click();
  }


  function minusFunction(item) {
    var divName = $(item).attr("id");
    var quan = $("#line_item_quantity"+divName).val();
      $('#line_item_quantity'+divName).val(+quan-1)
        document.getElementsByClassName("btn btn-primary")[0].click();
  }

  function plusFunction(item) {
   var divName = parseInt($(item).attr("id")) - 1;
   var quan = $("#line_item_quantity"+divName).val();
    $('#line_item_quantity'+divName).val(+quan+1)
      document.getElementsByClassName("btn btn-primary")[0].click();
  }

  // for mobile

    function removeFunction1(item) {
      var divName = $(item).attr("id");
      var quan = $("#line_item_quantity1"+divName).val();
        $('#line_item_quantity1'+divName).val(0)
          document.getElementsByClassName("btn btn-primary")[0].click();
      console.log(divName);
      // console.log(quan);
    }


    function minusFunction1(item) {
      var divName = $(item).attr("id");
      var quan = $("#line_item_quantity1"+divName).val();
        $('#line_item_quantity1'+divName).val(+quan-1)
          document.getElementsByClassName("btn btn-primary")[0].click();
    }

    function plusFunction1(item) {
     var divName = parseInt($(item).attr("id")) - 1;
     var quan = $("#line_item_quantity1"+divName).val();
      $('#line_item_quantity1'+divName).val(+quan+1)
        document.getElementsByClassName("btn btn-primary")[0].click();
    }

</script>
