<style>
table, th, td {
    /* border: 1px solid black; */
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

span#shopping-cart-size{
  font-size: 20px;
  padding-top: 12px;
}

a#box-back{
  background-color: "red";
}

span#trash {
  color: grey;
}

i#prod-desc{
  font-size: 12px;
}

table#wishlist-table {
  margin: auto;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

table#wishlist-table-mobile {
  display: none;
}

@media only screen and (max-width: 360px) {
  table#wishlist-table-mobile {
    display: block;
    margin-top: -45px;
  }

  table#wishlist-table-web {
    display: none;
  }

  .continueShop {
    margin-left: 20% !important;
  }

  span.line-item-description {
    font-style: italic;
    font-size: 12px;
  }

  .wishlist-variant {
    font-size: 14px;
  }

  .line_item_price-1 {
    font-size: 18px;
    font-weight: bolder;
  }

  td.wishlist-item-image {
      width: 110px;
      background-color: white;
      vertical-align: top;
      padding-top: 12px !important;
  }

  td.wishlist-item-description {
      background-color: white;
  }

  td {
    padding: 0px !important;
    background-color: #ebe8eb;
  }

  td.wishlist-icon {
    background-color: white;
    /* border: solid 1px black; */
    margin: 10px;
  }

  span#shopping-cart-size {
    /* font-size: 20px; */
    top: -5px;
    left: -8px;
    height: 30px;
    padding-top: 0px;
  }

  span#trash {
    /* color: grey; */
    left: -16px;
    top: -5px;
  }



</style>

<table id="wishlist-table-web">
  <tbody id="line_items">
  <% if @wishlist.wished_products.size > 0 %>
    <% @wishlist.wished_products.each do |wish|
        variant = wish.variant
        product = variant.product %>
    <tr class="<%= cycle('', 'alt') %>">

      <td>
        <% if variant.images.length == 0 %>
          <%= small_image(variant.product) %>
        <% else %>
          <%= image_tag variant.images.first.attachment.url(:small) %>
        <% end %>
      </td>
      <td>
        <h4><%= link_to product.name, product %></h4>
        <%= variant_options variant %>
        <i id="prod-desc"><%= truncate(product.description, :length => 80, :omission => "...") %></i><br>
      </td>
      <td>
        <%= variant.in_stock? ? t(:in_stock) : t(:out_of_stock) %>
      </td>
      <td>
        <%= display_price(product) %>
      </td>
      <td>
        <%= form_for :order, :url => spree.populate_orders_url do |f| %>
          <%= hidden_field_tag "variant_id", variant.id, :size => 3 %>
          <%= hidden_field_tag "quantity", 1, :size => 3 %>
          <%= link_to '#', :onclick => "$(this).parent().submit(); return false;", :class => "button" do%>
            <span id="shopping-cart-size" class="glyphicon glyphicon-shopping-cart"></span>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to wish, :method => :delete, :class => 'button' do%>
            <span id="trash" class="glyphicon glyphicon-trash"></span>
        <% end %>
      </td>
    </tr>
    <% end -%>
  <% else -%>
    <tr>
      <td colspan="6"><%= t(:your_wishlist_is_empty) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>


<table id="wishlist-table-mobile">
  <tbody id="line_items">
  <% if @wishlist.wished_products.size > 0 %>
    <% @wishlist.wished_products.each do |wish|
        variant = wish.variant
        product = variant.product %>
    <tr class="<%= cycle('', 'alt') %>" id="line-item-mobile">

      <td class="wishlist-item-image">
        <% if variant.images.length == 0 %>
          <%= small_image(variant.product) %>
        <% else %>
          <%= image_tag variant.images.first.attachment.url(:small) %>
        <% end %>
      </td>

      <td class="wishlist-item-description">

        <!-- title -->
        <h4><%= link_to product.name, product %></h4>

        <!-- variant -->
        <div class="wishlist-variant"><%= variant_options variant %></div>

        <!-- description -->
        <span class="line-item-description" data-hook="line_item_description">
          <%= truncate(line_item_description_text(product.description), :length => 40) %>
        </span><br>

        <!-- price -->
        <span class="line_item_price-1">
          <%= display_price(product) %>
        </span>

        <div class="wishlist-icons">
          <%= form_for :order, :url => spree.populate_orders_url do |f| %>

          <div id="wishlist-cart">
            <%= hidden_field_tag "variant_id", variant.id, :size => 3 %>
            <%= hidden_field_tag "quantity", 1, :size => 3 %>
              <!-- <%= link_to '#', :onclick => "$(this).parent().submit(); return false;", :class => "button" do%>
                <span id="shopping-cart-size" class="glyphicon glyphicon-shopping-cart"></span>
              <% end %> -->

                <%= button_tag class: 'btn btn-link', id: 'add-to-cart-button', type: :submit do %>
                  <span id="shopping-cart-size" class="glyphicon glyphicon-shopping-cart"></span>
                <% end %>

              <!-- <%= link_to '#', :onclick => "$(this).parent().submit(); return false;", :class => "button" do%>
                <span id="shopping-cart-size" class="glyphicon glyphicon-shopping-cart"></span>
              <% end %> -->

              <span id="wishlist-trash">
                <%= link_to wish, :method => :delete, :class => 'button' do%>
                    <span id="trash" class="glyphicon glyphicon-trash"></span>
                <% end %>
              </span>

          </div>

          <!-- trash -->


          <% end %>
        </div>

      </td>


    </tr>
    <% end -%>
    <tr class="continue-shopping-wishlist">

    </tr>
  <% else -%>
    <tr>
      <td colspan="6"><%= t(:your_wishlist_is_empty) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
