<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid;
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}
</style>


<b><h1>Specifics Admin</h1></b>
<b><%= link_to 'Add New Specific', new_specific_path %><br><br></b>

<table style="width:50%;border: 2px solid">
  <tbody>
    <% @specifics_admin.each do |specific| %>
      <tr>
        <td><%= link_to specific.name, specific %></td>
        <td><%= image_tag specific.image_specific.url(:thumb) %></td>
        <td style="font-style:italic"><%= link_to 'Edit', edit_specific_path(specific) %></td>
        <td style="font-style:italic"><%= link_to 'Destroy', specific, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
