<style>
  #price-starts {
    top: 95%;
    font-size: 12px;
  }

  .productshow_image_web{
    object-fit: none;
    width: 100%;
  }

</style>

<%= render :partial => "render_me/head" %>
<body class="two-col" id="home-page" data-hook="body" style="">

<div class="container">
  <div class="row" data-hook="">

    <aside id="sidebar" class="col-sm-4 col-md-3" data-hook="">
        <div data-hook="homepage_sidebar_navigation">
          <%= render :partial => "render_me/sidebar_hover" %>
        </div>
    </aside>

      <div id="content" class="col-sm-8 col-md-9" data-hook="">

      <p>
        <center><h2><%= @brand.name %></h2></center>
      </p>

      <% Spree::Product.where(:brand_id => @brand.id).each do |m| %>
      <%= link_to spree.product_path(m) do %>
        <% @spree_product_variant = Spree::Variant.where(:product_id => m, :is_master => true).page(params[:page]).per(5) %>
          <div class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
            <div class="panel panel-default" id="panel-id">
                <div class="panel-body text-center product-body">
                    <% @spree_variant_price = Spree::Price.find_by_variant_id(@spree_product_variant) %>
                    <% @spree_variant_asset = Spree::Asset.find_by_viewable_id(@spree_product_variant)%>
                    <% if Spree::Variant.where(:product_id => m).count > 1 %>
                      <%= image_tag @spree_variant_asset.attachment.url(:product), class: 'productshow_image_web' %><br>
                      <%= word_wrap(m.name) %>
                      <div id="price-starts"><%= "Price starts @"%></div>
                    <% else %>
                      <%= image_tag @spree_variant_asset.attachment.url(:product), class: 'productshow_image_web' %><br>
                      <%= word_wrap(m.name) %>
                    <% end %>
                    <br>
                </div>
                <div class="panel-footer text-center">
                  <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <span class="price selling lead" itemprop="price">
                      <div id=price-brand>
                        <%= number_to_currency(@spree_variant_price.amount, unit: "₱")%>
                      </div>
                    </span>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
          <center id="paginate-center-web"><%= paginate @spree_product_variant %></center>
        </div>
          <% if simple_current_order.item_count < 1 %>
            <div class="sideCart">
              <%= render :partial => "render_me/side_cart_without" %>
            </div>
          <% else %>
              <div class="sideCart">
                <%= render :partial => "render_me/side_cart" %>
              </div>
          <% end %>
  </div>
</div>
</body>
