<style>

@media only screen and (max-width: 360px), (max-width: 420px) {
  .categ-all-mobile {
    width: 100%;
  }
  .row {
      margin-left: 0px;
      margin-right: 0px;
  }
  .categ-brands {
    width:90%;
  }

  .categ-all-mobile {
    display: flex;
  }

  #brand-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    width: 93px;
    height: 70px;
    object-fit: cover;
  }

  #brand-image-text {
    display: flex;
    justify-content: space-around;
    /* width: 80px;
    height: 35px; */
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 13%;
  }

  .brand-text {
    font-size: 16px;
  }

  .brands-obyo {
    display: block;
    border-style: groove;
    width: 100px;
    height: 145px;
  }

  div.all-brands {
    vertical-align: middle;
    display: inline-flex;
    overflow-x: auto;
  }

  div.all-brands::-webkit-scrollbar {
    display: none;
  }

  div.all-brands-2 {
    vertical-align: middle;
    display: inline-flex;
    overflow-x: auto;
  }

  div.all-brands-2::-webkit-scrollbar {
    display: none;
  }

  .Categ-icon {
    width: 19%;
    top: 0;
    position: sticky;
    margin-right: 5px;
  }

  .brands_subcat {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }

  div#categ-brands {
    max-width: 100%;
  }

  .brand-text {
    line-height: normal;
  }

  /* #categ-subcateg-web {
    display: none;
  } */

  /* #categ-subcateg-mobile {
    display: block;
  } */

  #panel-body-mobile {
    height: 120px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding-top: 0px;
  }

  #panel-default-id {
    height: 165px;
  }

  .subcat-text {
    font-size: 18px;
  }

  #paginate-center {
    margin-left: 25px;
  }

  div#content {
    margin-bottom: 0px !important;
  }

  h3#subcateg_attri{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .body_categ{
    padding-left: 2px;
    padding-right: 2px;
  }
  .image_subcat{

    height: 100px;
    width: 100px;
    overflow: hidden;
  }

  #left_chevron{
    position: absolute;
    margin-top: 12%;
    left: 2%;
    color: #111d51;
    font-size: 30px;
  }
  #right_chevron{
    position: absolute;
    margin-top: 12%;
    right: 2%;
    color: #111d51;
    font-size: 30px;
  }
}

</style>

<body class="two-col" id="home-page" data-hook="body" style="">
<div class="categ-all-mobile">

<button id="left_chevron">&#10094;</button>

<div class="brands_subcat">
  <div id="categ-brands">

      <!-- Insert Categories here -->
      <% @subcategories_mob = Subcategory.where(:category_id => @category.id) %>
      <% @subcatspec = Specific.where(:subcategory_id => @subcategories_mob) %>
      <% @specbrand = Brand.where(:specific_id => @subcatspec).sort_by &:name  %>
    <div id="mySlides">
    <div class="all-brands">
      <% @specbrand.each do |specbrands| %>
          <%if specbrands.name.start_with?('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z') %>
            <div class="brands-obyo">
              <div id="brand-image">
                <%= link_to (image_tag specbrands.image_brand.url(:thumb), :size => "80x50"), specbrands%><br>
              </div>
              <div id="brand-image-text">
                <%= link_to truncate(specbrands.name, length: 28), specbrands, :class => "brand-text" %>
              </div>
            </div>
          <% end %>
      <% end %>
      </div>
    </div>
  </div>
<br>


    <div id="categ-subcateg-mobile">

        <!-- Insert Categories here -->
        <% @subcategories_mob = Subcategory.where(:category_id => @category.id).page(params[:page]).per(9)%>
        <!-- .paginate(:page => params[:page], :per_page => 8) %> -->

        <h3 id="subcateg_attri">Subcategories</h3>
        <% @subcategories_mob.each do |subcat| %>
          <div class="col-md-3 col-sm-4 col-xs-4 product-list-item body_categ" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product" id="icon-hover">
            <div class="panel panel-default" id="panel-default-id">
              <div class="panel-body text-center product-body" id="panel-body-mobile">
                <%= link_to (image_tag subcat.image_subcategory.url(:thumb), :height=>120, :width=>105), subcat %>
                <br>
              </div>
              <div class="panel-footer text-center">
                <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                  <%= link_to subcat.name, subcat, class: "subcat-text" %>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>

  </div>
  <button id="right_chevron">&#10095;</button>
</div>
<center id="paginate-center"><%= paginate @subcategories_mob %></center>
<script>
$(document).ready(function(){
    $("#right_chevron").on('click', function () {
        var elmnt = document.getElementById("mySlides");
        elmnt.scrollTo(300, 0);
    });
    $("#left_chevron").on('click', function () {
        var elmnt = document.getElementById("mySlides");
        elmnt.scrollTo(-300, 0);
    });
});

// function myFunction(x, y) {
//     var elmnt = document.getElementById("mySlides");
//     elmnt.scrollBy(x, y);
// }

</script>
</body>
