<style>

 #link-to-service {
      /* padding: 3px; */
      /* border: 2px solid orange; */
      margin: 5px;
      width: 180px;
      /* background-color: #d9d9d9; */
      right: 0%;
      text-align: center;
      cursor: pointer;
      font-size: 11px;
      color: white;
      font-size: 16px;
      font-weight: bold;
  }

  #link-to-login {
    /* padding: 3px; */
    /* border:2px solid orange; */
    margin:5px;
    width:100%;
    /* background-color: #d9d9d9 */
    right:0%;
    text-align: center;
    cursor:pointer;
    font-size: 16px;
    font-weight: bold;
    /* text-transform: uppercase; */
    color:yellow;
  }

  .login-top
  {
    display: flex;
    justify-content: space-around;
    /* border:3px solid pink; */
    margin-right: 34px;
  }

  .login-top-out
  {
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: -20px;
  }
  li .acct-log
  {
    font-weight: bold;
    color:white;
  }


div#show-my-account {
  /* display: none;
  text-align: left;
  margin-left: 60%;
  padding-left: 18px;
  word-spacing: -8px;
  font-size: 12px;
  border: 1px solid black;
  background-color: black;
  width: 132px;
  z-index: 1; */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* width: 102px; */
  word-spacing: -8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 5px;
  z-index: 1;
  color: black;
  /* margin-top: 5px; */
  font-size: 11px;
}

div#show-my-account a {
    color: black !important;
    text-decoration: none;
    display: block;
}

#link-to-login:hover #show-my-account {
    display: block
}

div#show-my-account a:hover {
  background-color: #ddd;
}

.link_to-background:hover {
  background-color: red;
}


span#center-vert {
  vertical-align: middle;
}

</style>

<% if spree_current_user %>
<div class="login-top">
<% else %>
<div class="login-top-out">
<% end %>

<% if spree_current_user %>

  <div id = "padding_head"><li id="link-to-service"><%= link_to_if false, "SELL ON RAMORES" %></li></div>
  <div id = "padding_head"><li id="link-to-service"><%= link_to_if false, "CUSTOMER CARE" %></li></div>
  <div id = "padding_head"><li id="link-to-service"><%= link_to_if false, "TRACK MY ORDER" %></li></div>
  <li id="link-to-login">
  <%= "Hi, "%> <%=truncate(spree_current_user.first_name,length:11) %>
  <!-- show-account -->
  <% if spree_current_user %>

    <div id="show-my-account">

      <!-- Manage Account -->
    <%= link_to spree.account_path, :class => "link_to-background" do %>
      <span class="	glyphicon glyphicon-user"> Manage Account</span>
    <% end %>
    <br>
    <!-- Wishlist -->
    <% if Spree::Wishlist.where(:user_id => spree_current_user.id).count > 0 %>
      <% @wishlist_user = Spree::Wishlist.where(:user_id => spree_current_user.id) %>
      <% @wishlist_user.each do |q|%>
          <% url_access_hash = spree.root_path  + "wishlists/" + q.access_hash %>
          <%= link_to url_access_hash do %>
            <span class="	glyphicon glyphicon-heart"> Wishlist</span>
          <% end %>
      <% end %>
    <% else %>
      <%= link_to spree.wishlists_path, :class => "link_to-background" do %>
        <span class="	glyphicon glyphicon-heart-empty"> Wishlist</span>
      <% end %>
    <% end %>
    <!-- Order -->
    <br>


    <!-- Logout -->
    <%= link_to spree.logout_path, class:'acct-log' do %>
      <span class="glyphicon glyphicon-log-out"> Logout</span>
    <% end %>

    </div>
  <% end %>
  </li>
  <!-- <li id="link-to-login"><%= link_to Spree.t(:logout), spree.logout_path, class:'acct-log' %></li><br> -->


<% else %>

  <div id = "padding_head"><li id="link-to-service"><%= link_to_if false, "SELL ON RAMORES" %></li></div>
  <div id = "padding_head"><li id="link-to-service"><%= link_to_if false, "CUSTOMER CARE" %></li></div>
  <div id = "padding_head"><li id="link-to-service"><%= link_to_if false, "TRACK MY ORDER" %></li></div>
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path, class:'acct-log' %></li>
  <li id="link-to-login"><%= link_to Spree.t(:signup), spree.signup_path, class:'acct-log' %></li>


<% end %>
</div>




<!-- <script>
function showMyAccount() {
  document.getElementById("show-my-account").style.display = "block";
}
</script> -->
