<style>


@media only screen and (max-width: 360px), (max-width: 420px) {
  input.btn.btn-success {
    height: 50px !important;
  }

  #spree-header #logo {
      margin-left: 0px;
  }

  input#btn-id {
      margin-left: 0px;
      /* height: 5.5% !important; */
  }

  input#keywords {
      margin-left: 0px;
  }

  .alert-notice {
    margin-left: 5%;
  }

  .alert.alert-success {
    width: 98% !important;
    margin-left: 0% !important;
  }
  .form-control{
    font-size: 18px;
  }
  .panel-title{
    font-size: 20px;
    color: #1c5c92;
  }
}

</style>


<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
  <center><fieldset id="password-credentials">
    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', tabindex: 1, placeholder: Spree.t(:email) %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: 'form-control', tabindex: 2, placeholder: Spree.t(:password) %>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, Spree.t(:remember_me) %>
      </label>
    </div>
    <div class="form-group">
      <%= f.submit Spree.t(:login), class: 'btn btn-lg btn-success btn-block', tabindex: 3 %>
    </div>
  </fieldset></center>
<% end %>
</div>
