<style>

.home_image_mobile {
  height: 140px;
  width: 130px;
}

.panel {
    margin-bottom: 2px;
}

div#image_container {
    height: fit-content;
}

body#default.one-col div.container {
    height: fit-content;
    /* width: 95%; */
    width: 1250px;
    padding-left: 0px;
    padding-right: 0px;
}



@media only screen and (max-width: 360px), (max-width: 420px)
{
  .mobile_home_rev {
    display: block;
    /* width: 316px; */
    /* margin-left: -35px;
    margin-right: -10px; */
    /* margin: 0px; */
    /* background-color: #1c5c92; */
    margin-top: -16px;
  }

  .web_home_rev {
    display: none;
  }
  /* body#default.one-col div.container {
      z-index: -10;
  } */
  body#default.one-col div.container div.row div#content.col-sm-12 {
    /* margin-left: 10% !important; */
  }

  body#default.one-col div.container div.row div#content.col-sm-12 {
    width: 100% !important;
    /* padding-left: 5%; */
  }

  header#header {
    top: 0;
    position: fixed;
  }

  div.col-sm-12{
    margin-top: 120px;
  }

  .home_image_mobile{
    width: 100px;
    height: 100px;
  }

  div.CategDiv1{
    display: none;
  }

  div.CategDiv2 {
    display: none;
  }

  a.linkhover {
    color: #1c5c92 !important;
    font-weight: normal !important;
  }

  .linkhover:active{
    pointer-events: auto;
  }

  #image_container{
    height: 120px;
    overflow: hidden;
  }

  .not-image{
    height: 100%;
  }

  #home-web {
    width: 100%;
  }

  .alert-notice {
    width: 98% !important;
    margin-left: 0% !important;
  }

  .alert.alert-success {
    width: 98% !important;
    margin-left: 0% !important;
  }

  .categories_3div{
    position: relative;
    min-height: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }

}
</style>

<!-- <%= stylesheet_link_tag "hover_pic" %> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class = "web_home_rev">
  <%= render :partial => "render_me/home/products_active_only" %>
  <%= render :partial => "render_me/home/services_active_only" %>
  <%= render :partial => "render_me/home/products_notactive_only" %>
  <%= render :partial => "render_me/home/services_notactive_only" %>
</div>

<div class = "mobile_home_rev">
  <%= render :partial => "render_me/home/mobile_home" %>
</div>
